/* --------------------------------------------------------
	Bourbon Mixins
	-------------------------------------------------------- */
/* --------------------------------------------------------
	_fonts.scss
	-------------------------------------------------------- */
/* --------------------------------------------------------
	_variables.scss
	-------------------------------------------------------- */
/* Hello, I'm here :) */
/* --------------------------------------------------------
	_functions.scss
	-------------------------------------------------------- */
/* --------------------------------------------------------
	_mixins.scss
	-------------------------------------------------------- */
/* --------------------------------------------------------
	_settings.scss
	-------------------------------------------------------- */
/* --------------------------------------------------------
	Theme
	-------------------------------------------------------- */
body {
  color: #222;
}

a {
  color: #FF6347;
}

p,
body .main-footer,
.s-about li {
  color: #888;
}

.color-element {
  color: #FF6347;
}

.color-bg {
  background-color: #FF6347;
}

.color-border {
  border-color: #FF6347;
}

.bg-light {
  background-color: #FAFAFA;
}

.bg-dark {
  background-color: #222;
  color: #fff;
}

.bg-dark .s-descr::after {
  background-color: #fff;
}

.bg-dark a {
  color: #fff;
}

.top-menu a:hover {
  color: #FF6347;
}

.top-menu a {
  letter-spacing: 4px;
}

.top-text p {
  color: #FAFAFA;
  letter-spacing: 5px;
}

.personal-header {
  letter-spacing: 2px;
}

.s-descr {
  letter-spacing: 4px;
}

.s-descr::after {
  background-color: #222;
}

section h3 {
  letter-spacing: 3px;
  color: #888;
}

.s-about p:nth-child(even) {
  color: #FF6347;
}

.resume-container h3 {
  color: #222;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 600;
}

.resume-item .year {
  background-color: #FF6347;
  color: #fff;
}

.resume-item .resume-description {
  letter-spacing: 1px;
}

.s-portfolio li {
  color: #888;
  letter-spacing: 2px;
}

.s-portfolio li.active {
  color: #fff;
  border-bottom: 1px solid #FF6347;
}

.portfolio-item .port-item-cont a {
  border-color: #FF6347;
  color: #FF6347;
}

.main-footer a {
  color: #FF6347;
}

.contacts-icon {
  color: #FF6347;
}

.text-danger {
  color: #FF6347;
}

form input:focus,
form textarea:focus {
  border: 1px solid #FF6347;
}

form input,
form textarea {
  letter-spacing: 2px;
}

form button {
  background-color: #FF6347;
  letter-spacing: 2px;
}

form .form-group {
  letter-spacing: 2px;
  color: #888;
}

.popup-content {
  letter-spacing: 1px;
}

svg path {
  fill: #FAFAFA;
}

.sw-topper,
.sw-footer,
.sw-bottom {
  background: #FAFAFA;
}

/* --------------------------------------------------------
	_base.scss
	-------------------------------------------------------- */
.hidden {
  display: none;
}

section, .main-head {
  position: relative;
}

section {
  padding: 70px 0 90px;
}

section h2 {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0 0 15px;
}

.s-descr-wrap {
  text-align: center;
}

.s-descr-wrap .s-descr {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 130px;
}

.s-descr-wrap .s-descr::after {
  content: "";
  height: 1px;
  left: 50%;
  margin-left: -75px;
  margin-top: 60px;
  position: absolute;
  width: 150px;
}

.main-head {
  min-height: 620px;
  background: transparent;
  padding-top: 20px;
}

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.loader .loader-inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 120px;
  width: 120px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

.logo-container {
  height: 120px;
  position: absolute;
  left: 20px;
  top: 28px;
  z-index: 100;
}

.logo-container svg {
  height: 120px;
  width: 120px;
  z-index: 100;
}

.toggle-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 20px;
  top: 40px;
  z-index: 100;
  width: 60px;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.sandwich {
  width: 50px;
  height: 35px;
}

.sw-topper {
  position: relative;
  top: 0px;
  width: 50px;
  height: 5px;
  border: none;
  -webkit-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.2s, 0s;
          transition-delay: 0.2s, 0s;
}

.sw-bottom {
  position: relative;
  width: 50px;
  height: 5px;
  top: 10px;
  border: none;
  -webkit-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.2s, 0s;
          transition-delay: 0.2s, 0s;
}

.sw-footer {
  position: relative;
  width: 50px;
  height: 5px;
  top: 20px;
  border: none;
  -webkit-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.sandwich.active .sw-topper {
  top: 15px;
  -webkit-transform: rotate(140deg);
      -ms-transform: rotate(140deg);
          transform: rotate(140deg);
}

.sandwich.active .sw-bottom {
  top: 10px;
  -webkit-transform: rotate(-140deg);
      -ms-transform: rotate(-140deg);
          transform: rotate(-140deg);
}

.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.top-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
  z-index: 50;
}

.top-menu nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.top-menu nav ul,
.top-menu nav li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.top-menu nav a {
  display: block;
  padding-bottom: 5px;
  font-size: 1.5rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.top-menu nav a:hover {
  text-decoration: none;
}

.top-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.top-wrapper .top-descr {
  display: table-row;
}

.top-wrapper .top-descr .top-centered {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.top-text {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}

.top-text h1 {
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 0 900px;
          box-shadow: rgba(0, 0, 0, 0.4) 0 0 0 900px;
}

.h-opacify {
  opacity: 0.4;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main-footer {
  padding: 50px 0;
  font-size: .9rem;
}

/* --------------------------------------------------------
	_media.scss
	-------------------------------------------------------- */
/*==========  Desktop First Method  ==========*/
/* Extra Large Devices, Wide Screens */
/* Large Devices, Desktops */
/* Medium Devices, Tablets */
/* Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .toggle-menu {
    width: 50px;
    height: 45px;
  }
  .sandwich {
    padding-top: 2.5px;
  }
  .sw-topper,
  .sw-bottom,
  .sw-footer {
    width: 45px;
    height: 4.5px;
    left: 2px;
  }
  .sw-bottom {
    top: 7.5px;
  }
  .sw-footer {
    top: 15px;
  }
  .sandwich.active .sw-topper {
    top: 12px;
  }
  .sandwich.active .sw-bottom {
    top: 9px;
  }
  .top-text h1 {
    font-size: 2rem;
    border: 2px solid #fff;
  }
  .top-text p {
    font-size: 0.8rem;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .toggle-menu {
    width: 49px;
    height: 40px;
  }
  .sandwich {
    padding-top: 4px;
  }
  .sw-topper,
  .sw-bottom,
  .sw-footer {
    width: 35px;
    height: 3.5px;
    left: 7px;
  }
  .sw-bottom {
    top: 7.5px;
  }
  .sw-footer {
    top: 15px;
  }
  .sandwich.active .sw-topper {
    top: 10px;
  }
  .sandwich.active .sw-bottom {
    top: 7px;
  }
  .top-text h1 {
    font-size: 1.6rem;
    border: 2px solid #fff;
    padding: 10px 20px;
  }
  .top-text p {
    font-size: 0.7rem;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .toggle-menu {
    width: 40px;
    height: 35px;
    top: 10px;
    right: 10px;
  }
  .sandwich {
    padding-top: 6px;
  }
  .sw-topper,
  .sw-bottom,
  .sw-footer {
    width: 30px;
    height: 3px;
    left: 5px;
  }
  .sw-bottom {
    top: 6.5px;
  }
  .sw-footer {
    top: 13px;
  }
  .sandwich.active .sw-topper {
    top: 8px;
  }
  .sandwich.active .sw-bottom {
    top: 5px;
  }
  .top-text h1 {
    font-size: 1.4rem;
    border: 2px solid #fff;
    padding: 10px 20px;
  }
  .top-text p {
    font-size: 0.7rem;
  }
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Tablets */
/* Large Devices, Desktops */
/* Extra Large Devices, Wide Screens */
