/*==========  Desktop First Method  ==========*/

/* Extra Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Large Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Medium Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Small Devices, Phones */
@media only screen and (max-width : 576px) {
	.toggle-menu {
		width: 50px;
		height: 45px;
	}

	.sandwich {
		padding-top: 2.5px;
	}

	.sw-topper,
	.sw-bottom,
	.sw-footer {
		width: $sandwich-w * 0.9;
		height: $sandwich-h * 0.9;
		left: 2px;

	}
	.sw-bottom {
		top: $sandwich-h * 1.5;
	}
	.sw-footer {
		top: $sandwich-h * 3;
	}

	.sandwich.active .sw-topper {
		top: 12px;
	}

	.sandwich.active .sw-bottom {
		top: 9px;
	}

	.top-text{
		h1 {
			font-size: 2rem;
			border: 2px solid #fff;
		}

		p {
			font-size: 0.8rem;
		}
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.toggle-menu {
		width: 49px;
		height: 40px;
	}

	.sandwich {
		padding-top: 4px;
	}

	.sw-topper,
	.sw-bottom,
	.sw-footer {
		width: $sandwich-w * 0.7;
		height: $sandwich-h * 0.7;
		left: 7px;
	}
	.sw-bottom {
		top: $sandwich-h * 1.5;
	}
	.sw-footer {
		top: $sandwich-h * 3;
	}

	.sandwich.active .sw-topper {
		top: 10px;
	}

	.sandwich.active .sw-bottom {
		top: 7px;
	}

	.top-text{
		h1 {
			font-size: 1.6rem;
			border: 2px solid #fff;
			padding: 10px 20px;
		}
		p {
			font-size: 0.7rem;
		}
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

	.toggle-menu {
		width: 40px;
		height: 35px;
		top: 10px;
		right: 10px;
	}
	
	.sandwich {
		padding-top: 6px;
	}

	.sw-topper,
	.sw-bottom,
	.sw-footer {
		width: $sandwich-w * 0.6;
		height: $sandwich-h * 0.6;
		left: 5px;
	}
	.sw-bottom {
		top: $sandwich-h * 1.3;
	}
	.sw-footer {
		top: $sandwich-h * 2.6;
	}

	.sandwich.active .sw-topper {
		top: 8px;
	}

	.sandwich.active .sw-bottom {
		top: 5px;
	}

	.top-text{
		h1 {
			font-size: 1.4rem;
			border: 2px solid #fff;
			padding: 10px 20px;
		}
		p {
			font-size: 0.7rem;
		}
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 576px) {

}

/* Medium Devices, Tablets */
@media only screen and (min-width : 768px) {
	.content-item {
		margin-bottom: 0;
	}
}

/* Large Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Extra Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}