body {
	overflow-x: hidden;
	img,
	a,
	input,
	button,
	textarea {
		&:focus {
			outline: none;	
		}
	}
}

.hidden {
	display: none;
}

section {
	padding: 70px 0 90px;
	h2 {
		text-align: center;
		font-size: 2rem;
		text-transform: uppercase;
		margin: 0 0 15px;
	}
	h3 {
		text-align: center;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 12px;
		margin-top: 0;
		margin-bottom: 35px;
	}
}